.App {
  text-align: center;
}
.square {
  /* height: 40px;
  width: 40px; */
  /* font-size: 18px; */
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  /* font-weight: bold; */
  /* padding: 5px 10px; */
  /* float: center; */
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 34px;
  /* margin: 0; */
}
/* .square:focus{
  outline: none ;
} */