.App {
  text-align: center;
}
.square {
  height: 40px ;
  width: 40px;
  /* font-size: 18px; */
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2px;
  /* font-weight: bold; */
  /* padding: 5px 10px; */
}